body{
	font-family: 'Noto Sans', sans-serif;
    width:100%;
    margin: 0;
} 

p{
    margin: 5px;
}
#mytable{
    width: 100%;
    height: 100%;
    background: #B2E6FF;
    border: 1px solid white;
    //border-radius: 23px;
    padding: 5px;
}

#mapholder{
    position: relative;
    float:center;
}

.location{
    font-family: 'Noto Sans', sans-serif;
    position:relative;
    float: center;
    background: #66CCFF;
    width: 200px;
    height: 40px;
    vertical-align: center;
    border: 1px solid black;
    transition: background .08s ease-in;

}

.location:hover{
    background: #29A3CC;
}

.location:active{
    background: red;
}

